@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model (Core5Practise.Models.Student student,Core5Practise.Models.Teacher teacher)
<h1>Data post vvith tuple </h1>
<form asp-action="Index" method="post">
    <input asp-for="">
    <input type="text" name="" id="">
    <input type="button" value="">
</form>