@addTagHelper *, Core5Practise
@model (Core5Practise.Models.Student s,Core5Practise.Models.Teacher t)

<email Email="hcavid386@gmail.com" content="Email"></email>
<p>@Model.s.Name</p>
<p>@Model.t.SurName</p> 

<p>@(5 + 6)</p>