@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Core5Practise
@model (Core5Practise.Models.Student s,Core5Practise.Models.Teacher t)

<a asp-action="Product" asp-controller="Home" asp-route-a="testa" asp-route-b="testb" asp-route-id="45" asp-route-dd="sdfsdf">Link</a>

<br/><br/><br/><br/>
<br/><br/><br/><br/>
<email Email="hcavid386@gmail.com" content="Email"></email>
<p>@Model.s.Name</p>
<p>@Model.t.SurName</p> 

<p>@(5 + 6)</p>