
@model (Student student,Teacher teacher)
<h1>Data post vvith tuple </h1>
<form asp-action="GetData" method="post">
    <label asp-for="student.Name">Student Name</label>
    <input asp-for="student.Name">
    <label asp-for="teacher.Name">Teacher Name</label>
    <input asp-for="teacher.Name">
    <button>Post</button>
</form>